<div class = "album-wrapper">
	<div class="pagina-titel"><%= @album.album_title %></div>

  <% if current_user == @album.user %>
    <div class="album-nav">
  		<ul>
  			<li>
      			<%= link_to "Bewerken", edit_album_path %>
        </li>
  			<li>
					<a href="#openModal" class="link delete">Verwijderen</a>
        </li>
  		</ul>
  	</div>
  <% end %>
  <div class="album-container">
    <div class="foto-grid">
      <% @pictures.each do |pic| %>
        <a href="/images/<%= pic.id %>">
    			<div class="item horizontaal" style="background: url(<%= pic.image.url(:thumb) %>) center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-repeat: no-repeat;">
    			  <div class="foto-data"><%= pic.title %></div>
    	    </div>
    		</a>
      <% end %>
  	</div>
  </div>
	<div id="openModal" class="modalDialog">
    <div>
      <h1>Weet je zeker dat je deze afbeelding wil verwijderen?</h1>
      <%= link_to "Verwijderen", album_path, method: :delete %>
      <a href="#close" title="Close" class="button">annuleren</a>
    </div>
  </div>
</div>
