<div class="form-wrapper">

	<div class="login-form">

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <table>
				<tr>
          <td>
            <a href="/users/sign_up">
              <div class="register-btn log-btn">
                REGISTEREN
              </div>
            </a>
            <div class="aanmelden-btn log-btn active-form">
              INLOGGEN
            </div>
				</td>
      </tr>
			<tr><td><%= devise_error_messages! %></td></tr>

      <tr>
        <td>
  				<%= f.label :email %>
  			</td>
      </tr>
  		<tr>
        <td>
          <%= f.email_field :email, autofocus: true %>
        </td>
      </tr>

      <tr>
        <td>
  				<%= f.label :password, "Wachtwoord"  %>
  			</td>
      </tr>
  		<tr>
        <td>
          <%= f.password_field :password, autocomplete: "off" %>
        </td>
      </tr>
      <% if devise_mapping.rememberable? -%>
        <tr>
          <td>
    				<%= f.check_box :remember_me %>
            <%= f.label :remember_me, "Onthoudt mij"  %>
    			</td>
        </tr>
      <% end -%>
      <tr>
        <td>
          <%= f.submit "LOG IN" %>
        </td>
      </tr>
	    <% end %>
			<tr class="forgot-links">
				<td>
					<table>
						<tr>
							<%= render "devise/shared/links" %>
						</tr>
					</table>
				</td>
			</tr>
		</table>
  </div>
</div>
