<%= simple_form_for @image, html: {multipart: true} do |f| %>
  <% if @image.errors.any? %>
    <div id="errors">
      <h2>
        <%= pluralize(@image.errors.count, "error") %>
        prevented this image from saving
        <ul>
          <% @image.errors.full_message.each do |msg| %>
            <li><%= msg %> </li>
          <% end %>
        </ul>
    </div>
  <% end %>
  <table>
    <tr>
      <td>
        <%= f.label :title, "Titel" %>
      </td>
      <td>
        <%= f.text_field :title %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :desc, "Beschrijving" %>
      </td>
      <td>
        <%= f.text_area :desc %>
      </td>
    </tr>
  </table>


  <%= f.button :submit, class: "button" %>
<% end %>
